.app {
  text-align: center;
}

/* .modal{
  width: 100vh;
  height: 100vh;
} */

.modal-button, .submit-button{
  background-color: #3b82f6;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  font-family: 'Poppins';
  font-size: larger;
  font-weight: 600;
  cursor: pointer;
  box-shadow: #9fa2a8 5px 5px 10px;
}
.modal-content{
  width: 30vw;
}
.form-detail{
  display: flex;
  flex-direction: column;
}

.app-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* .ReactModal__Overlay {
  background-color: rgba(255, 255, 255, 0.75);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
}

.ReactModal__Content {
  pointer-events: auto;
} */