.app {
  text-align: center;
}

.modal-button, .submit-button{
  background-color: #3b82f6;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  font-family: 'Poppins';
  font-size: larger;
  font-weight: 600;
  cursor: pointer;
  box-shadow: #9fa2a8 5px 5px 10px;
}
.modal-content{
  width: 30vw;
}
.form-detail{
  display: flex;
  flex-direction: column;
}

.app-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}